/* GDES306 | MMDD253 - Coding Your Portfolio     */
/* Extra small devices (phones, less than 600px) */
/* No media query since this is the default CSS */
html {
    scroll-behavior: smooth;
    }

.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
    /* These are global variables that you can use in your CSS */
    --black:black;
    --dark-grey:#333;
    --mid-grey:#666;
    --light-grey:#999;
    --white:white;
    --accent-colour:#bf0a1f;
    --headline-font:lust, serif;
    --body-font:nunito-sans, sans-serif;
    --horizontal-shift:6px;
    --section-padding-top:120px;
    
    }
    * {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    }

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    }
    nav {
        overflow: hidden;
        background: var(--white);
        height: 60px;
        }
        .navexpanded {
        height: 170px;
        }
    nav ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        text-align: center;
        }
        nav ul > li {
        margin-top: 10px;
        flex-basis: 100%;
        }


        
        nav ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
        color: var(--black);
        margin: 20px;
        }
        nav ul li a:hover {
        text-decoration: solid, underline;
        color: var( --accent-colour);
        }

        #logo {
            margin-right: auto;
            flex-basis: 50%;
            text-align: left;
            }
            #logo img {
            height: 2rem;
            width: auto;
            }
            #menu-icon, #close-icon {
            margin-left: auto;
            flex-basis: 50%;
            text-align: right;
            font-size: 29px;
            margin-top: 0px;
            }

            img {
                width:100%;
                }

            video {
                width: 100%;
            }

            #brand {
                margin-bottom: 20px;
            }

            #brand_user_persona{
                margin-top: 55px;
            }

            #trailer_storyboard{
                margin-top: 31px;
            }

            #transition {
                margin-top: 30px;
            }

            #close-icon {
                display:none;
                }
                .navexpanded #close-icon {
                display:inline-block;
                }
                .navexpanded #menu-icon {
                display:none;
                }

            #logo a:hover,
            #menu-icon a:hover
            #close-icon a:hover {
            background: none;
            }

            #profile_picture {
                margin-bottom: 10px;
            }

            #introduction {
                align-content: center;
                text-align: center;
                }
            
                #title {
                    margin-top: -60px;
                }

                #intro_btn {
                    margin: 0 auto; /* Add this line */
                }




body {
    font-family: var(--body-font);
    }
    h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
    }
    h1 {
    font-size: calc(28px + (72 - 40) * (100vw - 400px) / (1800 - 400));
    margin-bottom: 3rem;
    }
    h2 {
    font-size: calc(32px + (48 - 32) * (100vw - 400px) / (1800 - 400));
    margin-bottom: 1.5rem;
    }
    h3 {
    font-size: calc(20px + (28 - 20) * (100vw - 400px) / (1800 - 400));
    }
    p {
    font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
    margin-bottom:2rem;
    }

    a {
        font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
        text-decoration: none;
        color: var(--black);
        }
        a:visited {
        color: var(--black);
        }
        .btn {
        background-color: var(--black);
        border: none;
        color: var(--white);
        padding: 15px 32px;
        text-align: center;
        font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
        display: inline-block;
        font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1800 - 400));
        width: fit-content;
        }
        .btn:hover {
        background-color: var(--accent-colour);
        color: var(--black);
        padding-left: calc(32px + var(--horizontal-shift));
        }
        .btn:visited {
        color: var(--white);
        }
        .btn:hover:visited {
        color: var(--white);
        }

        .auto-height {
            min-height: auto;
            }


section {
    display: grid;
    min-height: calc(100vh - var(--section-padding-top));
    padding-top: var(--section-padding-top);
    grid-template-columns: 5% 1fr 5%;
    align-content: start;
    }
    section > * {
    grid-column: 2;
    }


    .two-columns {
        display: grid;
        grid-template-columns:1fr;
        grid-gap:50px;
        margin-bottom:3rem;
        }

        .two-columns-fixed {
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-gap:50px;
            margin-bottom:3rem;
            }

            .three-columns {
                display: grid;
                grid-template-columns:1fr 1fr;
                grid-gap:2rem;
                margin-bottom:2rem;
                }
                @media (min-width: 600px) {
                .three-columns {
                grid-template-columns:1fr 1fr 1fr;
                }
                }

        .featured {
            grid-column: 1/-1; /*This Class can be used to stretch an item the entire width of the parent grid */
            }

        #portfolio a:hover h3,
#portfolio a:hover p {
padding-left:var(--horizontal-shift);
}

#about .intro-paragraph {
    font-size: calc(20px + (28 - 20) * (100vw - 400px) / (1800 - 400));
    grid-column: 1/-1;
    }

#about ul {
    list-style: none;
    }

    #contact {
        min-height:auto;
        }
        #contact ul {
        display: flex;
        list-style-type: none;
        margin-bottom:1rem;
        }
        #contact ul li a {
        text-decoration: none;
        color: var(--white);
        margin: 0 20px 0 0;
        font-size: 32px;
        }
        #contact ul li a:hover {
        text-decoration: none;
        color: var(--accent-colour);
        }

        .inverted-colours {
            background:var(--black);
            color:var(--white);
            }
            .inverted-colours a {
            color:var(--white);
            }
            .inverted-colours a:visited {
            color:var(--white);
            }
            .inverted-colours .btn {
            color:var(--black);
            background:var(--white);
            }
            .inverted-colours .btn:hover {
            color:var(--black);
            background:var(--accent-colour);
            }

/* Small devices (i.e. tablets in portrait) */

@media (min-width: 600px) {

    .navexpanded #close-icon {
        display:none;
        }

    nav {
    height: 60px;
    }
    nav ul {
    flex-direction: row;
    align-items: none;
    }
    nav ul > li {
    flex-basis: auto;
    }
    #logo {
    flex-basis: auto;
    }
    #menu-icon {
    display: none;
    }

    .navexpanded {
        height: 60px;
        }

        section {
            grid-template-columns: 10% 1fr 10%;
            }

            .two-columns {
                grid-template-columns:1fr 1fr;
                }
    }

/* Medium devices (i.e. tablets in landscape */
@media (min-width: 900px) {


}

/* Large devices (i.e. desktop) */

@media (min-width: 1200px) {


}

/* X-Large devices (i.e. big desktop) */

@media (min-width: 1800px) {

    
}
